{{/* Custom config */}}

{{- $hosttype := promptChoiceOnce . "hosttype" "Which type of host is this" (list "work" "personal") "work" -}}
{{- $feature := promptChoiceOnce . "feature" "Enable feature group" (list "full" "basic" "minimal") "minimal" -}}
{{- $headless := promptBoolOnce . "headless" "Is this device headless" true -}}
{{- $experiment := promptBoolOnce . "experiment" "Enable experimental features" false -}}

{{/* Define all variables to make template happy */}}

{{- $editor := "neovim" -}}
{{- $editor_bin := "nvim" -}}{{/* name of editor binary */}}
{{- $username := "INFCode" -}}
{{- $email := "INFCode@163.com" -}}
{{- $fanciness := 0 -}}

{{/* Infer detailed config */}}

{{/* feature to fanciness */}}
{{- if eq $feature "full" -}}
{{-   $fanciness = 2 -}}
{{- else if eq $feature "basic" -}}
{{-   $fanciness = 1 -}}
{{- else if eq $feature "minimal" -}}
{{-   $fanciness = 0 -}}
{{- else -}}
{{-   printf "Unknown feature level (%v)!" $feature | fail -}}
{{- end -}}

{{- if eq $fanciness 0 -}}
{{-   $editor = "vim" -}}
{{-   $editor_bin = "vim" -}}
{{- end -}}

{{- if eq $hosttype "personal" -}}
{{/*  Nothing to do for now */}}
{{- else if eq $hosttype "work" -}}
{{-   $username = promptStringOnce . "username" "User name" -}}
{{-   $email = promptStringOnce . "email" "Email" -}}
{{- else -}}
{{-   printf "Unknown hosttype (%v)!" $hosttype | fail -}}
{{- end -}}

{{- if $headless -}}
{{/*  Nothing to do for now */}}
{{- else -}}
{{/*  Nothing to do for now */}}
{{- end -}}

{{- $distroData := joinPath .chezmoi.workingTree "data/distro.toml" | include | fromToml -}}
{{- $osid := .chezmoi.os -}}
{{- $distro := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $distro = .chezmoi.osRelease.id -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $family := "unknown" -}}
{{- $package_manager := "unknown" -}}
{{- if hasKey $distroData.distros $distro -}}
{{-   $dConfig := index $distroData.distros $distro -}}
{{-   $family = $dConfig.family -}}
{{-   if hasKey $dConfig "package_manager" -}}
{{-     $package_manager = index $dConfig "package_manager" -}}
{{-   end -}}
{{- end -}}
{{- if eq $package_manager "unknown" -}}
{{-   if hasKey $distroData.families $family -}}
{{-     $package_manager = (index $distroData.families $family).package_manager -}}
{{-   end -}}
{{- end -}}

{{- if eq $family "unknown" -}}
{{-   printf "No matching family for osid %v" $osid | fail -}}
{{- end -}}

{{- if eq $package_manager "unknown" -}}
{{-   printf "No matching package manager for osid %v" $osid | fail -}}
{{- end -}}

[data]
    hosttype = {{ $hosttype | quote }}
    feature = {{ $feature | quote }}
    fanciness = {{ $fanciness }}
    experiment = {{ $experiment }}
    headless = {{ $headless }}
    email = {{ $email | quote }}
    username = {{ $username | quote }}
    editor = {{ $editor | quote }}
    editor_bin = {{ $editor_bin | quote }}
    distro = {{ $distro | quote }}
    family = {{ $family | quote }}
    package_manager = {{ $package_manager | quote }}

[data.constants]
    fanciness_full = 2
    fanciness_basic = 1
    fanciness_minimal = 0

[cd]
    command = "fish"
