{{- $scriptPath := joinPath .chezmoi.workingTree "scripts" "ask_config.py" -}}

{{- /* TODO: Add basic environment check script */ -}}
{{- $output := output "python3" $scriptPath | trim -}}

{{- /* writeToStdout $output */ -}}
{{- $config := fromJson $output -}}

[data]
    email = {{ $config.email | quote }}
    username = {{ $config.user | quote }}
    neovim = {{ $config.enable_neovim }}
    preferred_editor = {{if $config.neovim}} "nvim" {{else}} "vim" {{end}}
