[alias]
    st = status
    co = checkout
    pushfl = push --force-with-lease
    cmt = commit
    cmtamne = commit --amend --no-edit
[user]
    name = {{ .username }}
    email = {{ .email }}
[core]
    editor = {{ .editor_bin }}
[pull]
    ff = only
[push]
	autoSetupRemote = true